.area-twitter>img{width:4.25rem;height:4.25rem;margin:1.875rem 1.75rem 0 0;float:left;border-radius:50%;background-color:#DCDCDC}
.area-twitter .twitterContent{width:100% ;float:left; overflow: hidden; height: 14.25rem;}
.area-twitter .twitterContent>div{width:100%;float:left; background-color:#fff}
.area-twitter .twitterContent .twitterCount span{float:left;line-height:1.25rem;padding-top:1.875rem; padding-bottom: 1.875rem;}
.area-twitter .twitterContent .twitterCount span.profileName{font-family:Catalana-Bold;color:#646464;padding-right:.625rem}
.area-twitter .twitterContent .twitterCount span.profile{color:#DC0028}
.area-twitter .twitterContent .twitterCount .followBtn{float:right}
.area-twitter .twitterContent .list-tweets{position:relative;padding-bottom:1rem; height: 4.25rem; background-color: transparent}
.area-twitter .twitterContent .list-tweets .item-tweets,.area-twitter .twitterContent .list-tweets .item-tweets .dateActions,.area-twitter .twitterContent .list-tweets .item-tweets .tweetText{width:100%;float:left; background-color:#fff}
.area-twitter .twitterContent .list-tweets .item-tweets .tweetText{font-size:1.875rem;line-height:1;color:#000}
.area-twitter .twitterContent .list-tweets .item-tweets .tweetText a{color:#DC0028}
.area-twitter .twitterContent .list-tweets .item-tweets .tweetText a:hover{color:#A9001F}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions span{float:left;color:#646464;font-size:1.2rem}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions{float:right}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions .tweetLink{font-size:1.2rem;color:#646464;padding-right:1rem}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions .tweetLink i{color:#DC0028;padding-right:.5rem}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions .tweetLink:last-child{padding-right:0}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions .tweetLink:hover{color:#919191}
.area-twitter .twitterContent .list-tweets .item-tweets .dateActions .tweetActions .tweetLink:hover i{color:#A9001F}
@media (max-width:767px){
	.area-twitter>img{position:absolute;margin:0}
	.area-twitter .twitterContent{width:100%}
	.area-twitter .twitterContent .twitterCount{width:80%;float:right}
	.area-twitter .twitterContent .twitterCount span{padding-top:1rem}
	.area-twitter .twitterContent .list-tweets{margin-top:2rem}
}